body{
    background-color: #F5F5F5; 
    color: black;
    font-size: 15px;
    font-family: cursive;
}
h1{
    color: red;
    font-family: cursive;
    margin: 10px 150px;
}
h2{
    margin: 10px 75px;
}
p{
    font-family: cursive;
    color: #333;
    font-size: 15px;
}
li{
    background-color: #85C1E9;
    font-family: initial;
    font-size: 15px;
}
ul{
    border: 2px solid powderblue;
}
ol{
    border: 2px solid powderblue;
}

