body {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 20px;
}

p {
    margin: 10px 0;
    text-transform: capitalize;
}

h1 {
    color: #FF5733;
}

h2 {
    color: #337AB7;
}

li {
    list-style-type: disc;
}

