body{
    background-color: #B6B6B4; 
    color: #333;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
h1{
    color: #C5908E;
    font-family: Arial, sans-serif;
    margin: 10px 150px;
}
h2{
    margin: 10px 75px;
}
p{
    font-family: Arial, sans-serif;
    color: #454545;
    font-size: 15px;
}
li{
    background-color: #FFFFFF;
    font-family: initial;
    font-size: 15px;
}

