body{
    background-image: url('img src');
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.image-container{
    display: flex;
}

.side-image{
    margin-left: 20px;
}

h1{
    background-color: #ffcc00;
    padding: 10px;
}

